<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Who We Are - Skyline Living</title>

  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hamburgers@1.2.1/dist/hamburgers.min.css" />

  <link rel="icon" type="image/png" href="assets/images/favicon.png">
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/customutility.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-white-style sticky-top navbar-color py-3-style navbar-animate" id="navbarSection" data-section="navbarSection">
    <div class="container">
      <a class="navbar-brand d-flex align-items-sm-center-style fw-semibold-style fs-4-style" href="#" data-logo="navbar">
        <span class="px-1-style"><i class="bi bi-triangle-fill" data-icon="bi-triangle-fill"></i></span>
        Skyline
      </a>

      <div class="d-lg-none d-flex align-items-center-style justify-content-lg-end-style">
        <div class="hamburger hamburger--spring js-hamburger" id="hamburger-toggle">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>

      <div class="collapse navbar-collapse justify-content-center-style navbar-menu-div" id="navbarMenu">
        <ul class="navbar-nav gap-3">
          <li class="nav-item">
            <a class="nav-link fw-semibold-style" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold-style active" href="about.html">Who We Are</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold-style" href="listings.html">New Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold-style" href="top-cities.html">Top Cities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold-style" href="contact.html">Get in Touch</a>
          </li>
        </ul>
        <div class="nav-item d-lg-none">
          <a class="btn btn-custom">Book Consult</a>
        </div>
      </div>

      <div class="d-none d-lg-block">
        <a class="btn btn-custom">Book Consult</a>
      </div>
    </div>
  </nav>

  <a href="#" class="btn rounded-circle floating-btn">
    <i class="bi bi-arrow-up" data-icon="bi-arrow-up"></i>
  </a>

  <section class="about-section py-5-style my-lg-5-style" id="aboutus" data-section="aboutus">
    <div class="container">
      <div class="row align-items-center-style flex-column-reverse flex-lg-row">
        <div class="col-lg-6">
          <h2 class="mb-4-style each-section-name">Who We Are</h2>
          <p class="about-section-para">
            Greetings from Skyline Living, your trusted partner in securing your
            real estate future. Our expert group is devoted to offering
            bespoke guidance and proven strategies, guaranteeing you
            locate the ideal investment that suits your aspirations.
            Whether you plan to buy, lease, or sell, we craft
            specific plans, private meetings, and versatile
            scheduling to promise a smooth and rewarding journey. With our
            help, you can safely traverse through the complexities of
            the property world and hit your targets!
          </p>
          <p class="about-section-para">
            Greetings from Skyline Living, your trusted partner in securing your
            real estate future. Our expert group is devoted to offering
            bespoke guidance and proven strategies, guaranteeing you
            locate the ideal investment that suits your aspirations.
            Whether you plan to buy, lease, or sell, we craft
            specific plans.
          </p>
        </div>

        <div class="col-lg-6 mb-4-style mb-lg-0-style text-center-style">
          <div class="img-wrapper-style">
            <img src="assets/images/realestatedeveloperwebsitetemplate-aboutus.webp" alt="Modern Building" class="img-fluid about-img property-img" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="why-choose-section" id="why-choose-section" data-section="why-choose-section">
    <div class="container">
      <div class="row align-items-center-style">
        <div class="col-lg-6 contactus-text-section-div">
          <h2 class="each-section-name">Why Select Us</h2>
          <p class="mb-4-style each-section-para pe-lg-5-style">
            Get bespoke service, hands-on guidance, and versatile scheduling
            to make buying simple and more effective.
          </p>
          <div class="row feature-list">
            <div class="col-lg-6 col-6">
              <div class="feature-item">
                <span class="tick-icon"><i class="bi bi-check2" data-icon="bi-check2"></i></span>
                <span>Top Quality</span>
              </div>
              <div class="feature-item">
                <span class="tick-icon"><i class="bi bi-check2" data-icon="bi-check2"></i></span>
                <span>Secure</span>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="feature-item">
                <span class="tick-icon"><i class="bi bi-check2" data-icon="bi-check2"></i></span>
                <span>Best Value</span>
              </div>
              <div class="feature-item">
                <span class="tick-icon"><i class="bi bi-check2" data-icon="bi-check2"></i></span>
                <span>Features</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="img-wrapper-style">
            <img src="assets/images/happy-clientsreal-estateagentwhychooseus.webp" alt="Modern House" class="rounded-img img-fluid" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials-section py-3-style" id="testimonials-section" data-section="testimonials-section">
    <div class="container">
      <div class="col-12 text-lg-start-style text-center-style">
        <h2 class="each-section-name mb-2-style">Read Our Client Reviews</h2>
        <p class="text-muted-style mb-0-style">Real reviews from our happy clients</p>
      </div>
      <div class="row d-flex my-5-style">
        <div class="col-lg-4 mb-4-style mb-lg-0-style">
          <div class="img-wrapper-style">
            <img src="assets/images/realestatepropertydealerclienttestimonial2.webp" alt="Building" class="img-fluid rounded-start-image" />
          </div>
        </div>
        <div class="col-lg-8 d-flex justify-content-center-style align-items-center-style flex-wrap">
          <div class="testimonial-section-cards">
            <div class="col-md-5 testimonial-card">
              <div class="h-100">
                <div class="stars mb-2-style">
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star" data-icon="bi-star"></i>
                </div>
                <p class="text-muted-style">
                  My wife and I have been trading with Skyline Inc for over 18
                  months, and they are spectacular. Co-operative and
                  understanding, as well as very efficient.
                </p>
                <div class="d-flex align-items-center-style mt-3-style">
                  <div class="img-wrapper-style col-2">
                    <img src="assets/images/testimonials-1.webp" alt="Marc" class="rounded-circle me-2-style" width="40" height="40" />
                  </div>
                  <strong class="text-dark-style">Manisha</strong>
                </div>
              </div>
            </div>

            <div class="col-md-5 testimonial-card">
              <div class="h-100">
                <div class="stars mb-2-style">
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-half" data-icon="bi-star-half"></i>
                </div>
                <p class="text-muted-style">
                  Skyline Inc is a premier and trusted partner in the Real
                  Estate market in Bombay and I'm happy to have had their
                  assistance. They provide non-biased advice.
                </p>
                <div class="d-flex align-items-center-style mt-3-style">
                  <div class="img-wrapper-style col-2">
                    <img src="assets/images/testimonials-2.webp" alt="Shifaath" class="rounded-circle me-2-style" width="40" height="40" />
                  </div>
                  <strong class="text-dark-style">Samarth</strong>
                </div>
              </div>
            </div>

            <div class="col-md-5 testimonial-card">
              <div class="h-100">
                <div class="stars mb-2-style">
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-half" data-icon="bi-star-half"></i>
                  <i class="bi bi-star" data-icon="bi-star"></i>
                </div>
                <p class="text-muted-style">
                  It is a hardworking and efficient Real Estate Company. We collaborated with Mr.
                  Arvin Cruz and he
                  guided my family thoroughly with great professionalism and care.
                </p>
                <div class="d-flex align-items-center-style mt-3-style">
                  <div class="img-wrapper-style col-2">
                    <img src="assets/images/testimonials-3.webp" alt="Ifhaam" class="rounded-circle me-2-style" width="40" height="40" loading="lazy" />
                  </div>
                  <strong class="text-dark-style">Indar Singh</strong>
                </div>
              </div>
            </div>

            <div class="col-md-5 testimonial-card">
              <div class="h-100">
                <div class="stars mb-2-style">
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-fill" data-icon="bi-star-fill"></i>
                  <i class="bi bi-star-half" data-icon="bi-star-half"></i>
                </div>
                <p class="text-muted-style">
                  It is a trusted Real Estate Company. Ms. Ana Cruz guided my family with dedication
                  and excellent
                  service.
                </p>
                <div class="d-flex align-items-center-style mt-3-style">
                  <div class="img-wrapper-style col-2">
                    <img src="assets/images/testimonials-1.webp" alt="Shahid" class="rounded-circle me-2-style" width="40" height="40" loading="lazy" />
                  </div>
                  <strong class="text-dark-style">Lakshmi</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer-section py-5-style" id="footer-section" data-section="footer-section">
    <div class="container">
      <div class="row gy-5 justify-content-between py-3-style">
        <div class="col-12 col-md-3 footer-logo-div">
          <div class="d-flex align-items-center-style">
            <a class="navbar-brand d-flex align-items-sm-center-style fw-semibold-style fs-4-style" href="#" data-logo="footer">
              <span class="px-1-style"><i class="bi bi-triangle-fill" data-icon="bi-triangle-fill"></i></span>
              Skyline
            </a>
          </div>
        </div>

        <div class="col-12 col-md-3 footer-aboutus-div">
          <h6 class="fs-4-style mb-3-style">Who We Are</h6>
          <p class="text-muted-style small-style mb-0-style">
            Our established firm helps clients find homes. Negotiating the
            structures and laws in the purchasing procedures.
          </p>
        </div>

        <div class="col-12 col-md-3 footer-contactinfo-div">
          <h6 class="fs-4-style mb-3-style">Contact Info</h6>
          <ul>
            <li class="mb-1-style">B-202, Skyline Towers, Main Road, New Delhi - 110001 </li>
            <li class="mb-1-style">+91-9876543210</li>
            <li class="mb-1-style">contact@skylineliving.com</li>
          </ul>
        </div>

        <div class="col-12 col-md-2 footer-location-div">
          <h6 class="fs-4-style mb-3-style">Location</h6>
          <ul>
            <li class="mb-1-style">Kolkata</li>
            <li class="mb-1-style">Bengaluru</li>
            <li class="mb-1-style">Delhi</li>
          </ul>
        </div>
      </div>

      <hr class="my-4-style" />

      <div class="row align-items-center-style">
        <div class="col-md-6 mb-3-style mb-md-0-style">
          <div class="d-flex align-items-center-style justify-content-center-style justify-content-md-start-style">
            <span class="fw-semibold-style me-3-style">Follow Us</span>
            <div class="footer-social-icons d-flex gap-3">
              <a href="#"><i class="bi bi-twitter" data-icon="bi-twitter"></i></a>
              <a href="#"><i class="bi bi-instagram" data-icon="bi-instagram"></i></a>
              <a href="#"><i class="bi bi-youtube" data-icon="bi-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-md-end-style text-center-style">
          <a href="#" class="text-decoration-none me-3-style text-dark-style">Privacy</a>
          <a href="#" class="text-decoration-none text-dark-style">Terms</a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script src="js/script.js"></script>

</body>

</html>
